.welcomeB {
  background-color: black;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.miVideo {
  overflow: hidden;
  width: auto;
  height: 100vh;
}
